---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About Me" description="Some thing about me." />
	</head>
	<body>
		<Header />
		<main id="main">
			<!-- <h1>About Me</h1> -->
			My name is <strong>Su Youge</strong>, a mechanical engineering phd
			student at <strong>Tongji University</strong>. There is some thing about me.
			<p></p>
			<h1>🚜 Research Interests</h1>
			<ul>
				<li>Mechanism & Machine Design Methodology</li>
				<li>Geometry & Topology</li>
				<li>Reinforcement Learning</li>
			</ul>
			<h1>🥸 Experience</h1>
			<h2>📒 Education</h2>
			<ul>
				<li>
					<strong>PhD Student</strong> in Mechanical Engineering, Tongji
					University, 2025-Now
				</li>
				<li>
					<strong>Master's degree</strong> in Mechanical Engineering, Tongji
					University, 2018-2021
				</li>
				<li>
					<strong>Bachelor's degree</strong> in Mechanical Engineering,
					Tongji University, 2014-2018
				</li>
			</ul>
			<h2>💼 Work</h2>
			<ul>
				<li>
					<strong>EE Engineer (UPS, Vehicle Diagnose)</strong>,
					SAIC-VW, 2021-2025
				</li>
				<li><strong>Intern</strong>, Volvo, 2019</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
