---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id="main">
			<h1>👽 Hello, human!</h1>
			<p>Welcome to my Low Tech Land! There is some thing <a href="/about">about</a> me.</p>
			<p>As a mechanical engineering PhD student, I have not published any papers yet.</p>
			<p>I often see successful people reminiscing about the past, as if those experiences can justify their success. And I don't agree with some of them.</p>
			<p>So I want to record my thoughts and experiences here, maybe one day I publish my paper and I will know <strong>thought and action are in harmony</strong>.</p>
			<p>This website will have topics as follows:</p>
			<ul>
				<li>📝 Paper Writing</li>
				<li>🤔 Philosophy about design and innovation</li>
				<li>🎨 Art</li>
				<li>💭 Something <strong>abstract</strong> but <strong>interesting</strong></li>
			</ul>
			<p>And here is the <a href="/blog">blog list</a>.</p>
			<div>
				<p>欢迎使用我的邀请码注册硅基流动，我将获得 16 元代金券奖励。<strong>hHfvZ8aK</strong></p>
				<p>可以扫码或者点击图像进行注册。</p>
				<a href="https://cloud.siliconflow.cn/i/hHfvZ8aK" target="_blank" rel="noopener noreferrer">
					<img src="/20260403-Template-1775605984513.webp" alt="QR Code Image" />
				</a>
			</div>
		</main>
		<Footer />
	</body>
</html>
